@import "../../../styles/colors";
@import "../../../styles/variables";

.events-block {

  &__item {
    display: flex;
    border-bottom: 1px solid $gold;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:last-child {
      border-bottom:  none;
    }
  }

  &__title {
    font-family: "Trajan-Pro", sans-serif;
  }

  p {
    font-size: 16px;
  }

  &__image {
    margin-right: 32px;
    max-width: 290px;
    min-width: 290px;
    max-height: 250px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: $lg) {

  .events-block {
    &__item {
      max-width: 780px;
      margin: 0 auto 30px;
    }
  }

}

@media screen and (max-width: $sm) {

  .events-block {
    &__item {
      flex-direction: column;
    }

    &__image {
      margin: 0 auto 30px;
      max-width: 100%;
      min-width: auto;
      max-height: initial;
    }
  }

}
