.donation {
  margin-bottom: 45px;

  &__title {
    font-family: "Trajan-Pro";
    margin-bottom: 16px;
  }

  &__block {
    display: flex;
  }

  &__image {
    margin-right: 17px;
  }

  &__text {
    font-size: 14px;
    line-height: 19px;
  }
}
