@import "../../styles/variables";

.single-news {
  &__image {
    max-width: 790px;
    margin-bottom: 30px;
  }

  &__title-news {
    text-transform: none;
    margin-bottom: 20px;
  }

  &__sub-title-news {
    margin-bottom: 35px;
  }

  &__text {
    line-height: 26px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: $lg) {
  .single-news {
    max-width: 790px;
    margin: 0 auto;
  }
}
