@import '../../styles/variables';
@import '../../styles/colors';

.menu-icon {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  height: 75px;
  padding: 0 30px;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255,255,255, 0.8);

  &__item {
    display: inline-block;
    margin-right: 25px;
    position: relative;

    &:hover {
      .sub-menu {
        display: block;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 27px;
    color: $gray;

    &:hover {
      text-shadow: 0px 1px 2px black, 0 0 1em white;
      color: inherit;
      text-decoration: none;
    }
  }
}

.menu-block {
  &__checkbox {
    display: none;
  }
}

.search {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: auto;

  input, label {
    visibility: hidden;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  min-width: 250px;
  width: 100%;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);

  &__item {
    padding: 15px 10px 10px;
  }

  &__link {
    &:hover {
      text-shadow: 0px 1px 2px black, 0 0 1em white;
      color: inherit;
      text-decoration: none;
    }
  }
}


@media screen and (max-width: $md) {
  .search {
    margin-left: 0;
    justify-content: flex-start;
    width: 100%;
    margin-top: auto;
    height: auto;
  }

  .menu {
    position: absolute;
    width: 265px;
    height: 100vh;
    margin: -50px 0 0 -50px;
    padding: 65px 50px 50px;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;

    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    &__item {
      padding: 10px 0;
      transition-delay: 2s;
    }

    &__link {
      text-transform: uppercase;
    }

  }


  .menu-block {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    input {
      cursor: pointer;
      display: flex;
      width: 40px;
      height: 20px;
      position: absolute;
      opacity: 0;
      z-index: 2;
    }

    &__line {
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: $gold;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }

    input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -1px);
      background: #36383F;
    }

    input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }

    input:checked ~ nav {
      transform: none;
    }
  }

  .sub-menu {
    z-index: 9999;
    background-color: rgb(255, 255, 255);
  }
}
