@import "../../styles/variables";

.main-news {
  max-width: 790px;
  position: relative;
  // margin-top: 45px;

  .slick-list {
    height: 505px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__block {
    display: flex !important;
    margin-top: 20px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: space-between;
  }

  &__link {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    display: block;
    text-align: center;
    margin-top: 45px;
  }
}

.main-news-item {
  position: relative;
  width: 380px;
  height: 200px;

  &__content {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to left, rgba(166, 136, 102, 0.9), rgba(83, 68, 51, 0.9));
    width: 300px;
    padding: 12px 22px 12px 12px;
  }

  &__description {
    font-family: "Trajan-Pro";
    color: #fff;
    font-size: 14px;
    line-height: 21px;
  }

  &_big {
    width: 380px;
    height: 465px;
  }
}

.main-news-item-border {
  border: 1px solid #9d7744;
  position: absolute;
  width: 90%;
  height: calc(100% + 40px);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: $lg) {

  .main-news {
    max-width: 100%;

    &__block {
      justify-content: center;
    }
  }

}

@media screen and (max-width: $md) {

  .main-news {
    &__block {
      height: auto;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: column;
        align-items: center;
    }

    .slick-list {
        height: auto;
    }

    &__group {
      margin: 0 10px;
    }
  }

  .main-news-item {
    margin: 0 10px 70px;

    &:first-child {
      margin-bottom: inherit;
      margin: 0 auto 70px;
    }

    &_big {
      min-width: 380px;
    }
  }
}

@media screen and (max-width: $xs) {

  .main-news {
    &__group {
      margin: 0;
    }
  }

  .main-news-item {
    width: 100%;
    margin: 15px 0;
    height: auto;


    &_big {
      min-width: initial;
      height: auto;
    }

    &-border {
      display: none;
    }

    &__content {
      top: 25px;
      height: auto;
      bottom: initial;
      width: 80%;
    }
  }
}
