@import "../../styles/colors";
@import "../../styles/variables";

.video {
  margin-top: 30px;
  padding-bottom: 60px;

  &__title {
    margin-top: -6px;

    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 3px;
      background-color: $gold;
      margin-top: 10px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 22px;
    color: $gray;
  }

  &__item {
    display: flex;
    margin-bottom: 34px;
    padding-bottom: 33px;
    border-bottom: 1px solid $gold;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__block {
    width: 100%;
    max-width: 370px;
    height: 200px;
    display: flex;
    margin-right: 27px;
  }

  &__link {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: $sm) {

  .video {
    &__item {
      flex-direction: column;
    }

    &__block {
      min-height: 340px;
      margin: 0 auto 25px;
      max-width: 80%;

    }
  }
}

@media screen and (max-width: $xs) {

  .video {
    &__block {
      min-width: initial;
    }
  }
}
