.single-gallery {

  &__main-image {
    margin-bottom: 30px;
  }

  &__items {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 200px);
    margin-bottom: 35px;
    position: relative;
    justify-content: center;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    flex: 0 0 calc(25% - 20px);
    overflow: hidden;
    display: flex;
  }

  &__sub-title {
    margin-bottom: 35px;
    font-size: 24px;
  }
}
