@import "../../styles/variables";

.albums {
  min-width: 790px;

  &__block {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 45px;
    align-items: center;

    &_ordered {
      .album__item_big {
        grid-column: 2;
      }
    }
  }
}

.album {


  &__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    position: relative;
    cursor: pointer;

    &_big {
      min-width: 410px;
      max-width: 410px;
      grid-column: 1;
      grid-row: 1 / 3;
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    left: 0px;
    background-image: linear-gradient(to left, rgba(166,136,102,0.9), rgba(83,68,51,0.9));
    padding: 12px 22px 12px 12px;
    color: white;
  }

  &__content {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to left, rgba(166, 136, 102, 0.9), rgba(83, 68, 51, 0.9));
    width: 300px;
    padding: 12px 22px 12px 12px;
  }

  &__description {
    font-family: "Trajan-Pro";
    color: #fff;
    font-size: 14px;
    line-height: 21px;
  }
}

@media screen and (max-width: $lg) {

  .albums {

    &__block {
      max-height: 100%;
      overflow: auto;
      max-width: 890px;
      justify-content: space-around;
      margin: 0 auto 30px;

      &_ordered {
        .album__item_big {
          margin-right: 0;
          margin-left: 45px;
        }
      }
    }
  }

  .album {
    &__item {
      max-width: 100%;

      &_big {
        margin-right: 45px;
      }
    }
  }
}

@media screen and (max-width: $md) {

  .albums {
    min-width: initial;

    &__block {
      grid-template-columns: 1fr;
      max-width: 450px;

      &_ordered {
        .album__item_big {
          margin-left: 0;
          grid-column: 1;
        }
      }
    }
  }

  .album {
    &__item {
      max-width: 100%;

      &_big {
        margin-right: 0;
        min-width: initial;
      }
    }
  }
}
