@import "../../../styles/colors";
@import "../../../styles/variables";

.news {
  margin-top: 45px;

  &__item {
    display: flex;
    margin-bottom: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid $gold;
    justify-content: space-between;
  }

  &__title {
    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 3px;
      background-color: $gold;
      margin-top: 10px;
    }
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: $gray;
    margin: 10px 0;
  }

  &__date {
    font-size: 12px;
    line-height: 14px;
    color: $gold;
    text-transform: uppercase;
  }

  &__image {
    display: flex;
    width: 100%;
    min-width: 300px;
    max-width: 350px;
    max-height: 250px;
    margin-left: 32px;
  }
}

@media screen and (max-width: $lg) {
  .news {
    &__image {
      height: auto;
    }
  }
}

@media screen and (max-width: $md) {
  .news {
    &__item {
      align-items: center;
    }
  }
}

@media screen and (max-width: $sm) {
  .news {
    &__item {
      flex-direction: column;
    }

    &__image {
      margin-left: 0;
      margin-top: 15px;
      max-width: 100%;
    }
  }
}
