@import '../../styles/colors';
@import '../../styles/variables';

.gallery {
  margin-bottom: 28px;
  border-bottom: 1px solid $gold;
  position: relative;

  &__title-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  &__title {
    font-family: "Trajan-Pro";
  }

  &__text {
    font-size: 14px;
    line-height: 19px;
    margin: 20px 0;
  }
}

@media screen and (max-width: $lg)  {
  .gallery   {
    .slick-slide {
      img {
        max-height: 450px;
        margin: 0 auto;
      }
    }
  }
}

// .gallery .slick-slide img
