@import "../../styles/variables";

.single-video {
  margin-bottom: 40px;

  &__frame {
    max-width: 790px;
    margin-bottom: 30px;
    height: 350px;
    display: flex;
  }

  &__title-video {
    text-transform: none;
    margin-bottom: 20px;
  }


  &__text {
    line-height: 26px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: $lg) {
  .single-video {
    max-width: 790px;
    margin: 0 auto 40px;
  }
}
