@import "../../styles/colors";
@import "../../styles/variables";

.pilgrimage {
  border-bottom: 1px solid $gold;
  margin-bottom: 28px;

  &__title {
    font-family: "Trajan-Pro";
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 19px;
    margin: 20px 0;
  }
}

@media screen and (max-width: $lg) {

  .pilgrimage {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__image {
      max-width: 350px;
      display: block;
      margin: 0 auto;
    }
  }
}



@media screen and (max-width: $xs) {

  .pilgrimage {

    &__image {
      height: 250px;
    }
  }
}
