@import '../../styles/colors';
@import '../../styles/variables';

.header {
  padding: 50px 0 36px;
  height: 500px;
  width: 100%;
  background-image: url(../../img/top_bg.jpg);
  background-size: cover;
}

.header-image {
  width: 240px;
  height: 240px;
  margin: 22px 0;
  object-fit: contain;
  border: solid 3px $gold;
}

.header-title {
  display: inline-flex;
  align-items: center;
  padding: 10px 16px 0;
  height: 55px;
  opacity: 0.9;
  background-image: linear-gradient(to left, $gold, #534433);
}

@media screen and (max-width: $md) {
  .header-title {
    height: auto;
  }

  .header {
    min-height: 450px;
    height: auto;
  }
}

@media screen and (max-width: $xs) {
  .header-title {
    padding: 20px;

    h1 {
      font-size: 26px;
      line-height: 35px;
    }
  }
}
