@import '../../styles/variables';

.events-list {
  margin-top: 30px;

  &__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
  }

  &__text {
    text-align: justify;
  }

  &__image-block {
    display: flex;
    min-height: 250px;
    max-height: 250px;
    align-items: center;
    margin-bottom: 25px;
  }

  &__title {
    text-align: center;
  }

  &__link {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    display: block;
    text-align: center;
  }
}


@media screen and (max-width: $lg) {
  .events-list {

    &__block {
      justify-content: space-around;
    }

    &__item {
      max-width: 450px;
    }
  }
}

@media screen and (max-width: $md) {
  .events-list {

    &__item {
      max-width: 100%;
      flex-basis: 100%;
    }

    &__image {
      max-width: 450px;
      margin: 0 auto 25px;
    }

    &__image-block {
      min-height: auto;
      max-height: initial;
    }

  }
}

@media screen and (max-width: $sm) {
  .events-list {

    &__image {
      max-width: 100%;
    }
  }
}
