@import "../../styles/variables";

.single-gallery {

  &__tiles {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;

    &:after {
      content: '';
      flex-grow: 999999999;
    }

    img {
      vertical-align: bottom;
      cursor: pointer;
    }
  }
}


@media screen and (max-width: $lg) {

  .single-gallery {

    &__tiles {
      img {
        max-height: 250px;
      }
    }

  }
}

@media screen and (max-width: $xs) {

  .single-gallery {

    &__tiles {
      img {
        max-width: 80%;
        margin: 0 auto;
      }
    }

  }
}
