@import '../../styles/colors';

footer {
  border-top: 1px solid $gold;
  padding: 30px 0 36px;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.copyrignt {
  display: flex;
  justify-content: center;

  &__text {
    font-size: 12px;
    line-height: 15px;
    color: $gray;
    text-transform: uppercase;
  }
}
