@import '../../styles/variables';

.breadcrumbs {
  display: flex;
  position: relative;
  top: -10px;

  &__item {
    margin-right: 5px;
  }
}

@media screen and (max-width: $lg) {
  .breadcrumbs {
    top: 0;
    margin-bottom: 25px;
  }
}
