@import 'styles/colors';
@import 'styles/variables';

.arrows-slider {
	display: flex;

  &_main {
    position: absolute;
    bottom: -30px;
  }

  &_photo-gallery {
    position: absolute;
    top: 12px;
    right: 0;
  }

  .arrow-slider {
    margin-right: 25px;
    cursor: pointer;
  }
}

.chart-block {
  margin-bottom: 2em;
}

.react_lightgallery_item {
  display: flex;
  cursor: pointer;
}

@font-face {
  font-family: "PTSerif-Regular";
  src: url("./fonts/PTF55F.ttf");
}

@font-face {
  font-family: "Trajan-Pro";
  src: url("./fonts/trajanPro/trajan-pro-3.otf");
}

body {
  font-family: 'PTSerif-Regular', sans-serif;
}

legend {
  width: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin: 0;
  color: $gray;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

img {
  height: auto;
  max-width: 100%;
}

h1, h2 {
  font-family: "Trajan-Pro";
  margin: 0;
  text-transform: uppercase;
}

h1 {
  line-height: 43px;
  font-size: 30px;
  color: #fff;
}

h2 {
  font-size: 24px;
  color: $gray;
  line-height: 34px;
}

h3 {
  font-family: "PTSerif-Regular";
  font-size: 18px;
  line-height: 24px;
  color: $gray;
  text-transform: uppercase;
}

hr {
  margin: 0;
  border: 0;
}

.title__with-line {
  display: flex;
  margin-bottom: 30px;
  white-space: nowrap;

  hr {
    width: 100%;
    height: 3px;
    margin-top: 14px;
    margin-left: 38px;
    background-color: $gold;
  }
}

a {
  color: $gold;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.content {
  display: flex;
  margin-top: 45px;

  &__block {
    min-width: 790px;
  }
}

// side bar container

.aside-block {
  margin-left: 60px;
  min-width: 350px;
  max-width: 350px;
}

@media screen and (max-width: $lg) {

  .content {

    &__block {
      min-width: initial;
    }
  }

  .arrows-slider {

    &_main {
      display: flex;
      justify-content: space-between;
      width: 100%;
      bottom: -30px;
    }

  }

  .aside-block {
    margin-left: 0;
    max-width: 100%;
  }

  .container {
    padding: 0 20px;
  }

  .content {
    flex-direction: column;
  }

  .donation {
    padding: 20px 0;
  }
}



@media screen and (max-width: $sm) {
  .title__with-line {
    flex-direction: column;
    align-items: center;

    hr {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: $xs) {

  .aside-block {
    min-width: initial;
  }
}
