@import "../../styles/variables";

.aside-block {
  margin-left: 60px;
  min-width: 350px;
  max-width: 350px;
}

@media screen and (max-width: $lg) {

  .aside-block {
    margin-left: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: $xs) {

  .aside-block {
    min-width: initial;
  }
}
